# Ignorar archivos y carpetas de Python
__pycache__/
*.py[cod]
history/
# Ignorar archivos de entorno
.env
*.sqlite3
# Ignorar archivos de logs
*.log
# Ignorar archivos de configuración de VSCode
.vscode/
# Ignorar archivos de migraciones
*/migrations/
