{% extends "base.html" %}
{% block title %}Alta Presupuesto{% endblock %}
{% block content %}
<h2>Alta Presupuesto</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-2">
    <label>Nro Presupuesto</label>
    <input type="text" name="nro_presupuesto" class="form-control" required>
  </div>
  <div class="mb-2">
    <label>Código Cliente</label>
    <input type="text" name="cod_cliente" class="form-control" required>
  </div>
  <div class="mb-2">
    <label>Descripción</label>
    <input type="text" name="descripcion" class="form-control" required>
  </div>
  <div class="mb-2">
    <label>Total Presupuesto</label>
    <input type="text" name="total_presupuesto" class="form-control" required>
  </div>
  <div class="mb-2">
    <label>Total Gastado</label>
    <input type="text" name="total_gastado" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Guardar</button>
  <a href="{% url 'lista_presupuestos' %}" class="btn btn-secondary">Volver</a>
</form>
{% endblock %}
